doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/app.css")
        link(rel="stylesheet", href="css/normalize.css")
        title #{title}
    body
        header.barra
            h1 UpTask
            a(href="#") End Session
        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/newProject" class="boton") New
                        span +
                .panel.lista-proyectos
                    h2 Projects
                    ul#proyectos.proyectos
                        if(projects.length)
                            each project in projects
                                li
                                    a(href="#")= project.name
            block content