extends layout

include mix/createProject

block content
    .contenido-principal
        h1 #{title}
        if err
            each error in err
                .alerta= error.text
        pre=vardump(projects)
        +createProject(project)