doctype html
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= title
            p="Add your email for reset your password"
            if locals.messages
                .alertas
                    each category in Object.keys(locals.messages)
                        each err in messages[category]
                            .alerta(class=`${category}`)
                                p= err
            form.caja-login(method="POST" action="/resetPassAction")
                .campo
                    label(for="email") E-mail:
                    input(type="text" name="email" placeholder="Email" value= emailValue)
                .campo
                    input.boton(type="submit" value="Reset")
                .campo.acciones
                    a(href="/login") Back to login page